/home/alejandro/Escritorio/Proyectos portafolio/Coffee Shop Sales SQL Project/Coffee Shop Sales.xlsx
/home/alejandro/Escritorio/Proyectos portafolio/Coffee Shop Sales SQL Project/Coffee Shop Sales.csv
/home/alejandro/Escritorio/Proyectos portafolio/Coffee Shop Sales SQL Project/.~lock.Coffee Shop Sales.xlsx#
